.paginationBttns {
  width: 80%;
  height: 40px;
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 5px;
  margin: 10px;
}
.paginationBttns a:hover {
}
.paginationActive a {
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: gray;
}
.previousBttn {
}

.newsCard {
  position: relative;
  cursor: pointer;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
}
.verticleCard {
  position: relative;
}
.removeCard {
  position: absolute;
  top: 50px;
  right: -55px;
}
