.paginationBttns {
  width: 80%;
  height: 40px;
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
}
.paginationBttns a:hover {
}
.paginationActive {
  color: white;
  background-color: blue;
}
.newsCard {
  position: relative;
  cursor: pointer;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
}
